db/.cmp.kpt
db/audio_dsp_partition_pins.json
db/audio_dsp.(0).cnf.cdb
db/audio_dsp.(0).cnf.hdb
db/audio_dsp.(1).cnf.cdb
db/audio_dsp.(1).cnf.hdb
db/audio_dsp.(2).cnf.cdb
db/audio_dsp.(2).cnf.hdb
db/audio_dsp.(3).cnf.cdb
db/audio_dsp.(3).cnf.hdb
db/audio_dsp.(4).cnf.cdb
db/audio_dsp.(4).cnf.hdb
db/audio_dsp.(5).cnf.cdb
db/audio_dsp.(5).cnf.hdb
db/audio_dsp.asm_labs.ddb
db/audio_dsp.asm.qmsg
db/audio_dsp.asm.rdb
db/audio_dsp.cbx.xml
db/audio_dsp.cmp_merge.kpt
db/audio_dsp.cmp.bpm
db/audio_dsp.cmp.cdb
db/audio_dsp.cmp.hdb
db/audio_dsp.cmp.idb
db/audio_dsp.cmp.logdb
db/audio_dsp.cmp.rdb
db/audio_dsp.cycloneive_io_sim_cache.45um_ff_1200mv_0c_fast.hsd
db/audio_dsp.cycloneive_io_sim_cache.45um_ss_1200mv_0c_slow.hsd
db/audio_dsp.cycloneive_io_sim_cache.45um_ss_1200mv_85c_slow.hsd
db/audio_dsp.db_info
db/audio_dsp.fit.qmsg
db/audio_dsp.hier_info
db/audio_dsp.hif
db/audio_dsp.lpc.html
db/audio_dsp.lpc.rdb
db/audio_dsp.lpc.txt
db/audio_dsp.map_bb.cdb
db/audio_dsp.map_bb.hdb
db/audio_dsp.map_bb.logdb
db/audio_dsp.map.ammdb
db/audio_dsp.map.bpm
db/audio_dsp.map.cdb
db/audio_dsp.map.hdb
db/audio_dsp.map.kpt
db/audio_dsp.map.logdb
db/audio_dsp.map.qmsg
db/audio_dsp.map.rdb
db/audio_dsp.pre_map.hdb
db/audio_dsp.quiproj.19244.rdr.flock
db/audio_dsp.root_partition.map.reg_db.cdb
db/audio_dsp.routing.rdb
db/audio_dsp.rtlv_sg_swap.cdb
db/audio_dsp.rtlv_sg.cdb
db/audio_dsp.rtlv.hdb
db/audio_dsp.sld_design_entry_dsc.sci
db/audio_dsp.sld_design_entry.sci
db/audio_dsp.smart_action.txt
db/audio_dsp.smp_dump.txt
db/audio_dsp.sta_cmp.8_slow_1200mv_85c.tdb
db/audio_dsp.sta.qmsg
db/audio_dsp.sta.rdb
db/audio_dsp.tis_db_list.ddb
db/audio_dsp.tiscmp.fast_1200mv_0c.ddb
db/audio_dsp.tiscmp.fastest_slow_1200mv_0c.ddb
db/audio_dsp.tiscmp.fastest_slow_1200mv_85c.ddb
db/audio_dsp.tiscmp.slow_1200mv_0c.ddb
db/audio_dsp.tiscmp.slow_1200mv_85c.ddb
db/audio_dsp.tmw_info
db/audio_dsp.vpr.ammdb
db/audio_pll_altpll.v
db/prev_cmp_audio_dsp.qmsg
greybox_tmp/cbx_args.txt
incremental_db/README
incremental_db/compiled_partitions/audio_dsp.db_info
incremental_db/compiled_partitions/audio_dsp.root_partition.cmp.ammdb
incremental_db/compiled_partitions/audio_dsp.root_partition.cmp.cdb
incremental_db/compiled_partitions/audio_dsp.root_partition.cmp.dfp
incremental_db/compiled_partitions/audio_dsp.root_partition.cmp.hdb
incremental_db/compiled_partitions/audio_dsp.root_partition.cmp.logdb
incremental_db/compiled_partitions/audio_dsp.root_partition.cmp.rcfdb
incremental_db/compiled_partitions/audio_dsp.root_partition.map.cdb
incremental_db/compiled_partitions/audio_dsp.root_partition.map.dpi
incremental_db/compiled_partitions/audio_dsp.root_partition.map.hbdb.cdb
incremental_db/compiled_partitions/audio_dsp.root_partition.map.hbdb.hb_info
incremental_db/compiled_partitions/audio_dsp.root_partition.map.hbdb.hdb
incremental_db/compiled_partitions/audio_dsp.root_partition.map.hbdb.sig
incremental_db/compiled_partitions/audio_dsp.root_partition.map.hdb
incremental_db/compiled_partitions/audio_dsp.root_partition.map.kpt
incremental_db/compiled_partitions/audio_dsp.rrp.hdb
output_files/audio_dsp.asm.rpt
output_files/audio_dsp.done
output_files/audio_dsp.fit.rpt
output_files/audio_dsp.fit.smsg
output_files/audio_dsp.fit.summary
output_files/audio_dsp.flow.rpt
output_files/audio_dsp.jdi
output_files/audio_dsp.map.rpt
output_files/audio_dsp.map.summary
output_files/audio_dsp.pin
output_files/audio_dsp.sld
output_files/audio_dsp.sof
output_files/audio_dsp.sta.rpt
output_files/audio_dsp.sta.summary
db/audio_dsp.eda.qmsg
output_files/audio_dsp.eda.rpt
simulation/qsim/audio_dsp_20250809132744.sim.vwf
simulation/qsim/audio_dsp_20250809132947.sim.vwf
simulation/qsim/audio_dsp_20250809133010.sim.vwf
simulation/qsim/audio_dsp_modelsim.xrf
simulation/qsim/audio_dsp_simulation.vwf.vht
simulation/qsim/audio_dsp.do
simulation/qsim/audio_dsp.msim.vcd
simulation/qsim/audio_dsp.sft
simulation/qsim/audio_dsp.vho
simulation/qsim/transcript
simulation/qsim/vwf_sim_transcript
simulation/qsim/work/_info
simulation/qsim/work/_lib.qdb
simulation/qsim/work/_lib1_3.qdb
simulation/qsim/work/_lib1_3.qpg
simulation/qsim/work/_lib1_3.qtl
simulation/qsim/work/_vmake
audio_dsp_nativelink_simulation.rpt
db/audio_dsp.(6).cnf.cdb
db/audio_dsp.(6).cnf.hdb
db/audio_dsp.(7).cnf.cdb
db/audio_dsp.(7).cnf.hdb
db/audio_dsp.(8).cnf.cdb
db/audio_dsp.(8).cnf.hdb
db/audio_dsp.(9).cnf.cdb
db/audio_dsp.(9).cnf.hdb
db/audio_dsp.pplq.rdb
db/audio_dsp.quiproj.832.rdr.flock
db/mult_n4t.tdf
simulation/modelsim/audio_dsp_8_1200mv_0c_slow.vho
simulation/modelsim/audio_dsp_8_1200mv_0c_vhd_slow.sdo
simulation/modelsim/audio_dsp_8_1200mv_85c_slow.vho
simulation/modelsim/audio_dsp_8_1200mv_85c_vhd_slow.sdo
simulation/modelsim/audio_dsp_min_1200mv_0c_fast.vho
simulation/modelsim/audio_dsp_min_1200mv_0c_vhd_fast.sdo
simulation/modelsim/audio_dsp_modelsim.xrf
simulation/modelsim/audio_dsp_run_msim_rtl_vhdl.do
simulation/modelsim/audio_dsp_run_msim_rtl_vhdl.do.bak
simulation/modelsim/audio_dsp_vhd.sdo
simulation/modelsim/audio_dsp.sft
simulation/modelsim/audio_dsp.vho
simulation/modelsim/modelsim.ini
simulation/modelsim/msim_transcript
simulation/modelsim/vsim.wlf
simulation/modelsim/rtl_work/_info
simulation/modelsim/rtl_work/_lib.qdb
simulation/modelsim/rtl_work/_lib1_0.qdb
simulation/modelsim/rtl_work/_lib1_0.qpg
simulation/modelsim/rtl_work/_lib1_0.qtl
simulation/modelsim/rtl_work/_vmake
